<fg-collection th:attr="path=${path}, condition=${condition}, operator=${operator}, itemName=${itemName}, disallowEmpty=${disallowEmpty}, determiner=${determiner}">
    <div class="usa-accordion usa-accordion--bordered usa-accordion--multiselectable margin-bottom-3" data-allow-multiple>
        <template class="fg-collection__item-template">
            <h4 class="usa-accordion__heading">
            <button class="usa-accordion__button usa-accordion__button--highlight" type="button" aria-expanded="true">
              <th th:if="${itemName == ''}">
                <span th:text="#{components.fg-collection.item-name-default}"></span>
                <span class="collection-item-number"></span>
              </th>
              <th th:if="${itemName != ''}">
                <span th:text="${itemName}"></span>
                <span class="collection-item-number"></span>
              </th>
            </button>
            </h4>
            <div class="usa-accordion__content">
                <div class="fg-collection-item__fields" th:utext="${collectionFacts}"></div>
                <div class="fg-collection-item__controls">
                    <button type="button" class="fg-collection-item__remove-item usa-button usa-button--unstyled">
                        <svg aria-hidden="true" role="img" focusable="false"
                            class="usa-icon usa-icon--size-3 margin-left-neg-1 margin-y-neg-05">
                            <use href="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/img/sprite.svg#delete"></use>
                        </svg>
                        <th th:if="${itemName == ''}" th:text="#{components.fg-collection.buttons.remove-item}"></th>
                        <th th:if="${itemName != ''}">
                          <span>
                          <th:block th:text="#{components.fg-collection.buttons.remove}"></th:block>
                          <th:block th:text="${itemName}"></th:block>
                          <span class="collection-item-number"></span>
                          </span>
                        </th>
                    </button>
                </div>
            </div>
        </template>
    </div>
    <button type="button" class="fg-collection__add-item usa-button usa-button--outline">
        <svg aria-hidden="true" role="img" focusable="false"
             class="usa-icon usa-icon--size-3 margin-left-neg-1 margin-y-neg-05">
            <use href="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/img/sprite.svg#add"></use>
        </svg>
        <th th:if="${itemName == ''}" th:text="#{components.fg-collection.buttons.add-item}"></th>
        <th th:if="${itemName != ''}">
            <th:block th:text="#{components.fg-collection.buttons.add}"></th:block>
            <th th:if="${determiner != ''}">
                <span class="fg-collection__determiner" th:text="#{components.fg-collection.determiners.__${determiner}__}"></span>
            </th>
            <span th:classappend="${!#strings.contains(itemName, 'Social Security')} ? 'text-lowercase'" th:text="${itemName}"></span>
        </th>
    </button>
</fg-collection>
