<fg-collection
        th:attr="path=${path}, condition=${condition}, operator=${operator}, itemName=${itemName}, disallowEmpty=${disallowEmpty}, determiner=${determiner}"
        th:with="
            removeModalId='fg-collection-remove-'+${itemName.replaceAll(' ', '-').trim()}+'-modal',
            itemNameTitleCase=${itemName.substring(0,1).toUpperCase() + itemName.substring(1)}
        "
>
    <div class="usa-accordion usa-accordion--bordered usa-accordion--multiselectable margin-bottom-3" data-allow-multiple>
        <template class="fg-collection__item-template">
            <h4 class="usa-accordion__heading">
            <button class="usa-accordion__button usa-accordion__button--highlight" type="button" aria-expanded="true">
                <span th:text="${itemNameTitleCase}"></span>
                <span class="collection-item-number"></span>
            </button>
            </h4>
            <div class="usa-accordion__content">
                <div class="fg-collection-item__fields" th:utext="${collectionFacts}"></div>
                <div class="fg-collection-item__controls">
                    <modal-link th:attr="for=${removeModalId}" class="fg-collection-item__remove-item">
                        <svg aria-hidden="true" role="img" focusable="false"
                            class="usa-icon usa-icon--size-3 margin-left-neg-1 margin-y-neg-05">
                            <use href="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/img/sprite.svg#delete"></use>
                        </svg>
                        <span>
                            <th:block th:text="#{components.fg-collection.buttons.remove(${itemName})}"></th:block>
                            <span class="collection-item-number"></span>
                        </span>
                    </modal-link>
                </div>
            </div>
        </template>
    </div>
    <button type="button" class="fg-collection__add-item usa-button usa-button--outline">
        <svg aria-hidden="true" role="img" focusable="false"
             class="usa-icon usa-icon--size-3 margin-left-neg-1 margin-y-neg-05">
            <use href="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/img/sprite.svg#add"></use>
        </svg>
        <th:block th:if="${determiner == ''}" th:text="#{components.fg-collection.buttons.add(${itemName})}"></th:block>
        <th:block
            th:if="${determiner != ''}"
            th:with="determinerTranslation=#{components.fg-collection.determiners.__${determiner}__}"
        >
            <span class="fg-collection__without-determiner" th:text="#{components.fg-collection.buttons.add(${itemName})}"></span>
            <span class="fg-collection__with-determiner" th:text="#{components.fg-collection.buttons.add-with-determiner(${itemName}, ${determinerTranslation})}"></span>
        </th:block>
    </button>
    <div th:replace="~{nodes/modal-dialog :: modal(
            modalId=${removeModalId},
            modalHeading=#{components.fg-collection.remove-item-modal.heading.remove(${itemName})},
            modalContent=#{components.fg-collection.remove-item-modal.body(${itemName})},
            footerContent=~{:: removeItemModalFooter}
    )}">
        <div class="usa-modal__button-group" th:fragment="removeItemModalFooter">
            <button
                    type="button"
                    class="usa-button fg-collection__remove-item-modal__button-confirm"
                    data-close-modal
                    th:text="#{components.fg-collection.remove-item-modal.footer.confirm(${itemName})}">
                Yes, remove this item
            </button>
            <button
                    type="button"
                    class="usa-button usa-button--outline"
                    data-close-modal
                    th:text="#{components.fg-collection.remove-item-modal.footer.cancel(${itemName})}">
                No, keep this item
            </button>
        </div>
    </div>
</fg-collection>
