<dialog th:id="${modalId}" class="usa-modal--dialog" closedby="any"
        th:fragment="modal(
            modalId,
            modalHeading,
            modalContent,
            footerContent
        )"
>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h1 class="usa-modal__heading" th:utext="${modalHeading}"></h1>
      <button
        type="button"
        class="usa-button usa-modal__close"
        th:aria-label="#{components.modal.close}"
        data-close-modal
      >
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use href="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/img/sprite.svg#close"></use>
        </svg>
      </button>
    <div class="usa-prose" th:utext="${modalContent}"></div>
    <div class="usa-modal__footer" th:insert="${footerContent != null} ? ${footerContent} : _"></div>
    </div>
  </div>
</dialog>
